---
layout: default
quote: Satu-satunya cara untuk melakukan pekerjaan besar adalah mencintai apa yang Anda lakukan. Jika Anda belum menemukannya, teruslah mencari. Janganlah puas.
quote_author: Steve Jobs
title: Ari Firmanto
---
	<blockquote>
		<p>{{ page.quote }}</p>
		<cite>{{ page.quote_author }}</cite>
	</blockquote>

	<ul class="posts">
	  {% for post in paginator.posts %}
	    <li>
			<h4>{{ post.title }}</h4>
			<p>
				{{ post.review }}
				<span class="red">{{ post.date | date_to_string }}</span> » 
				<a href="{{ post.url }}" title="{{ post.title }}">lanjut baca</a>	
			</p>
		</li>
	  {% endfor %}
	</ul>
	

	{% if paginator.total_pages > 1 %}
		<ul class="pagination text-center" role="navigation" aria-label="Pagination">
	  		{% if paginator.previous_page %}
	        <li class="pagination-previous">
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"></a>
			</li>
	  	  {% else %}
	  	    <li class="pagination-previous disabled"></li>			
	  	  {% endif %}
	  	  {% for page in (1..paginator.total_pages) %}
	  	    {% if page == paginator.page %}
	  	      <li class="current"><span class="show-for-sr">You're on page</span> {{ page }}</li>			  
	  	    {% elsif page == 1 %}
  	          <li>
				 <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			  </li>			  
	  	    {% else %}
  	          <li>
				  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			  </li>			  
	  	    {% endif %}
	  	  {% endfor %}
			{% if paginator.next_page %}
			    <li class="pagination-next">
					<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next page"></a>
				</li>				
			  {% else %}
			  	<li class="pagination-next disabled"></li>				
			  {% endif %}
	      </ul>
	{% endif %}

